#contacto{
     background-color: #3490eca9;
     color: white;
     padding: 20px;
     border-radius: 10px;
     box-shadow: 0 4px 8px;
     font-size: 10px;
}
#nombre{
     background-color: white;
     padding: 20px;
     border-radius: 20px;
     font-size: 10px;
      
}