#contacto{
     background-color: #a9d1f8a9;
     color: white;
     padding: 15px; color: white;
     border-radius: 15px;
     box-shadow: 0 4px 8px;
     font-size: 10px;
}
#nombre{
     background-color: white;
     padding: 15px;
     border-radius: 15px;
     font-size: 10px;
      
}
#edad{
     background-color: white;
     padding: 15px;
     border-radius: 15px;
     font-size: 10px;
}
#correo{
     background-color: white;
     padding: 15px;
     border-radius: 15px;
     font-size: 10px;
}